* {
	margin: 0px;
	padding: 0px;
}

/* HEADER + NAVIGATION BAR BEGINS */

header {
	height: 8%;
	width: 100%;
	background-color: blue;
}

nav{
	vertical-align: center;
}

header > nav > ul {
	float: right;
}

header > nav > ul > li {
	display: inline-block;
	list-style: none;
	text-transform: uppercase;
	padding: 1em 3em;
}